version: "3.8"

services:
  backend:
    build: ./backend
    container_name: hono-api
    restart: always
    ports:
      - "3000:3000"
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: react-app
    restart: always
    ports:
      - "80:80"
    networks:
      - app-network
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge